<mat-toolbar>
  <span>Harry Potter Character Search</span>
</mat-toolbar>

<div class="row my-3">
  <div class="col-md-12">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
        autocomplete="off"
      />
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <ng-container matColumnDef="house">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> House </th>
            <td mat-cell *matCellDef="let element"> {{element.house}} </td>
          </ng-container>

          <ng-container matColumnDef="school">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
            <td mat-cell *matCellDef="let element"> {{element.school}} </td>
          </ng-container>

          <ng-container matColumnDef="species">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
            <td mat-cell *matCellDef="let element"> {{element.species}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>
